# CryptKeeper Development Environment Variables
# This file is automatically copied to .env when the devcontainer is built

CRYPT_KEEPER_KEY=75d942f3d3b3492772e0330f717eaf5e689673ea8b983475ef8f6551f6e99d280cd89972706e46b48240cc01c4d0f7df5ffa3524566b789d147ed04cc4ea4eab
CRYPT_KEEPER_SALT=b16a153e99a5db616a861ea5a6febc64d8a758c4aef3b8c8fc6675ac9daf03f7965f16e8b4b2bdfd28ff65f5203afb8102b8f41c514c3667bb3512015b1e77e8

# Database Configuration
DATABASE_HOST=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=deploy
DATABASE_NAME=crypt_keeper_providers

MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=deploy
MYSQL_DATABASE=crypt_keeper_providers
